<header class="bg-dark text-white p-3" xmlns:sec="http://www.w3.org/1999/xhtml">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1 class="h3 mb-0" th:text="${pageName}">Название страницы</h1>
			<div>
				<a th:href="@{/login}" class="text-white mx-2"
				   sec:authorize="!isAuthenticated()">Вход</a>
				<a th:href="@{/logout}" class="text-white mx-2"
				   sec:authorize="isAuthenticated()">Выход</a>
			</div>
		</div>
	</div>
</header>