<div th:replace="~{fragments/head}"></div>

<body>
<div th:insert="~{fragments/header}"></div>

<div class="container">
	<div class="row">
		<div>
			<div class="panel">
				<div class="panel-heading">
					<div class="row" th:if="${admin}">
						<div class="col-sm-12 col-xs-12">
							<a th:href="@{/cars/add}"
							   class="btn btn-sm btn-primary pull-left">
								<i class="fa fa-plus-circle"></i> Добавить автомобиль
							</a>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<table class="table">
						<thead>
						<tr>
							<th>ID</th>
							<th>Марка</th>
							<th>Цвет</th>
							<th>Гос. номер</th>
							<th>Владелец</th>
							<th th:if="${admin}">Действия</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="car : ${cars}">
							<td th:text="${car.id}">Simple id</td>
							<td th:text="${car.brand}">brand</td>
							<td th:text="${car.color}">color</td>
							<td th:text="${car.licensePlate}">License Plate</td>
							<td th:text="${car.owner.lastname + ' ' + car.owner.name}" class="username">Username</td>
							<td th:if="${admin}">
								<div>
									<div class="tooltip2"
										 style="margin-top: 6px;cursor: pointer;"
										 th:onclick="@{'window.location.href=\'/shops/' + ${car.id} + '/view\''}">
										<i class="fa fa-search"
										   style="font-size: 30px;color: rgb(108, 175, 3);margin-inline-end: 7px;"></i>
										<span class="tooltiptext noselect"
											  style="width: 120px;margin-left: -64px">Просмотр</span>
									</div>
									<div class="tooltip2"
										 style="margin-top: 6px;cursor: pointer;"
										 th:onclick="@{'window.location.href=\'/shops/' + ${car.id} + '/edit\''}">
										<i class="fa fa-pencil-alt"
										   style="font-size: 30px;color: rgb(108, 175, 3);margin-inline-end: 7px;"></i>
										<span class="tooltiptext noselect"
											  style="width: 120px; margin-left: -64px">Изменить</span>
									</div>
									<div class="tooltip2"
										 style="margin-top: 6px;cursor: pointer;"
										 th:onclick="'deleteShop(' + ${car.id} + ')'">
										<i class="fa fa-times"
										   style="font-size: 30px;color: rgb(191, 0, 0);margin-inline-end: 7px;"></i>
										<span class="tooltiptext noselect"
											  style="width: 120px;margin-left: -64px">Удалить</span>
									</div>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>

<div th:insert="~{fragments/footer}"></div>
</body>